name: Discord Notifications

on:
  push:
    branches: [ main ]

jobs:
  discord:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Get short SHA
        id: vars
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Discord notification
        uses: sarisia/actions-status-discord@v1
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
          title: "[${{ github.event.repository.name }}:${{ github.ref_name }}] 1 new commit"
          url: "${{ github.event.repository.html_url }}/commit/${{ github.sha }}"
          description: "`${{ steps.vars.outputs.sha_short }}` ${{ github.event.head_commit.message }} - ${{ github.actor }}"
          color: 0x5865F2
          nodetail: true
          notimestamp: true
          username: "GitHub Actions"
          avatar_url: "https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
