name: Discord Notifications

on:
  push:
    branches: [ main ]

jobs:
  discord:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Get short SHA
        id: vars
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Discord notification
        uses: appleboy/discord-action@master
        with:
          webhook_url: ${{ secrets.DISCORD_WEBHOOK }}
          color: "#0000FF"
          username: "GitHub Actions"
          message: |
            **[${{ github.event.repository.name }}:${{ github.ref_name }}] 1 new commit**
            `${{ steps.vars.outputs.sha_short }}` ${{ github.event.head_commit.message }} - ${{ github.actor }}
            [View Commit](${{ github.event.repository.html_url }}/commit/${{ github.sha }})
