name: Discord Notifications

on:
  push:
    branches: [ main ]

jobs:
  discord:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Get short SHA
        id: vars
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Send Minimalist Discord Notification
        run: |
          curl -H "Content-Type: application/json" \
               -d '{
                 "embeds": [{
                   "title": "[${{ github.event.repository.name }}:${{ github.ref_name }}] 1 new commit",
                   "description": "`${{ steps.vars.outputs.sha_short }}` ${{ github.event.head_commit.message }} - ${{ github.actor }}",
                   "color": 5793266,
                   "url": "${{ github.event.repository.html_url }}/commit/${{ github.sha }}"
                 }]
               }' \
               ${{ secrets.DISCORD_WEBHOOK }}
